# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Database
*.sqlite3
*.db
backend/test.db
backend/iot_platform.db

# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
